@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap");

body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
  color: hsl(0, 0%, 100%);
  box-sizing: border-box;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.container {
  background-color: hsl(217, 54%, 11%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.precon {
  padding: 20px;
  border-radius: 15px;
  background-color: hsl(216, 50%, 16%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
}
.imageDiv {
  position: relative;
}
.img1 {
  border-radius: 15px;
}

.inner {
  position: absolute;
  top: 0;
  background-color: hsla(178, 100%, 50%, 50%);
  width: 100%;
  height: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s ease;
}
.inner:hover {
  opacity: 1;
  border-radius: 15px;
  cursor: pointer;
  user-select: none;
}
.img2 {
  height: 20%;
}

.textParent {
  width: 260px;
}
h1 {
  font-size: 20px;
  font-weight: 600;
}
h1:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
  user-select: none;
}
p {
  font-size: 18px;
  color: hsl(215, 51%, 70%);
  font-weight: 400;
}
.spanDiv {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid hsl(215, 32%, 27%);
  padding-bottom: 15px;
}

.pi {
  vertical-align: bottom;
  border: 1px solid white;
  border-radius: 25px;
  margin-right: 8px;
}
b {
  user-select: none;
}
b:hover {
  cursor: pointer;
  color: cyan;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
